@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/rokkitt/v20/qFdb35qfgYFjGy5hukqqhw5XeRgdi1ryd6DCGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/rokkitt/v20/qFdb35qfgYFjGy5hukqqhw5XeRgdi1oVcKDCGbo.ttf) format('truetype');
}
